@page "/wallets"
@using EndavaTechCourse.BankApp.Shared
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<h3>Wallets</h3>

<MudTable Items="wallets">
    <HeaderContent>
        <MudTh>Type</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Currency</MudTh>
        <MudTh>ID</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Type</MudTd>
        <MudTd>@context.Amount</MudTd>
        <MudTd>@context.Currency</MudTd>
        <MudTd>@context.Id.ToString()</MudTd>
    </RowTemplate>
</MudTable>

<h2> </h2>

<MudFab Href="wallets/create" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Add" Label="Create Wallet" Size="Size.Medium" />

@code {
    private List<WalletDto> wallets;

    protected override async Task OnInitializedAsync()
    {
        wallets = await HttpClient.GetFromJsonAsync<List<WalletDto>>("/api/wallets");
    }
}
